
body {
    background-color: black
}

.botones-footer {
    padding: 25px;
}

#main{
     
    background-color: rgb(0, 0, 0);

}

.Prin{
    display: flex;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.Parrafo{
    display: flex;
    margin-left: 30rem;
    margin-right: 30rem;
    letter-spacing:1px;
    color: rgb(255, 255, 255);
    padding-bottom: 3rem;
}


.boton{
    background-color: #2e2e2e;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 1rem;
    width:4.5rem;
    height:1.5rem ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    
}

a.letra{
    color: rgb(255, 255, 255);
    text-decoration:none;
 
}

a.letra:hover{
    color: #F2AE3E;
    text-decoration:none;
}
#Imagen-main{
    width: 50%;
    height: 50%;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

