#logo_main {
    width: 15rem;
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

a.Home_link,
a.Main_link,
a.footer_link{
    margin: 1rem;
    text-decoration: none;
    
}

a.Home_link:hover,
a.Main_link:hover,
a.footer_link:hover{
    color: gold;
    
}